# Assignment 1

In this assignment you predict the total number of daily online job ads in the United Kingdom. Every day tens of thousand of new jobs are advertised online in the United Kingdom, including a growing number of machine learning jobs. We use job counts from the 30 cities with the highest number of job ads posted as features. Both the total job count and the city job count are for the same day, so the exercise is an interpolation exercise and not time-series forecasting.

The dataset we use is called 'bg_job_counts_train.csv'. The first column in the date. The second column contains the output variable, which is the total number of job ads posted on that day in the UK. The subsequent columns contain the number of jobs by city.

In [7]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.read_csv('bg_job_counts_train.csv', index_col = 0).head(10)

,JobDate,Job Count,aberdeen,basildon,basingstoke,bedford,birmingham,bristol,cambridge,carlisle,colchester,coventry,doncaster,edinburgh,glasgow,hertford,leeds,leicester,london,manchester,milton keynes,northampton,norwich,nottingham,portsmouth,reading,sheffield,southampton,st albans,watford,woking,wolverhampton
0,2012-01-01,13983,152.0,31.0,80.0,29.0,300.0,319.0,308.0,11.0,71.0,93.0,124.0,208.0,199.0,8.0,228.0,86.0,3629.0,378.0,84.0,165.0,226.0,258.0,299.0,170.0,77.0,84.0,33.0,290.0,42.0,24.0
1,2012-01-02,4822,17.0,7.0,15.0,34.0,101.0,93.0,208.0,50.0,18.0,19.0,11.0,50.0,34.0,2.0,89.0,34.0,1677.0,323.0,71.0,16.0,18.0,83.0,8.0,48.0,36.0,16.0,23.0,31.0,5.0,7.0
2,2012-01-03,15518,585.0,37.0,29.0,23.0,741.0,540.0,119.0,21.0,145.0,252.0,250.0,520.0,281.0,41.0,102.0,58.0,4564.0,295.0,103.0,78.0,111.0,83.0,123.0,125.0,72.0,81.0,11.0,78.0,18.0,21.0
3,2012-01-04,18085,250.0,65.0,41.0,91.0,273.0,251.0,191.0,5.0,98.0,43.0,33.0,262.0,292.0,135.0,324.0,212.0,5298.0,900.0,144.0,85.0,104.0,150.0,88.0,144.0,123.0,149.0,1384.0,70.0,31.0,16.0
4,2012-01-05,20922,248.0,69.0,256.0,66.0,196.0,160.0,175.0,6.0,80.0,43.0,244.0,40.0,102.0,343.0,124.0,54.0,4250.0,294.0,116.0,81.0,142.0,231.0,155.0,167.0,70.0,209.0,1002.0,3125.0,1251.0,1151.0
5,2012-01-06,12188,174.0,685.0,31.0,1063.0,113.0,337.0,93.0,463.0,71.0,32.0,6.0,348.0,376.0,10.0,145.0,21.0,2989.0,262.0,74.0,17.0,111.0,58.0,21.0,78.0,44.0,54.0,24.0,37.0,20.0,12.0
6,2012-01-07,8281,119.0,5.0,20.0,27.0,91.0,102.0,195.0,21.0,18.0,17.0,284.0,161.0,117.0,1.0,81.0,32.0,3512.0,135.0,57.0,31.0,36.0,37.0,8.0,82.0,53.0,29.0,71.0,47.0,23.0,11.0
7,2012-01-08,8801,84.0,10.0,44.0,69.0,147.0,182.0,79.0,5.0,36.0,43.0,22.0,105.0,71.0,15.0,122.0,64.0,3227.0,292.0,71.0,29.0,65.0,88.0,38.0,89.0,48.0,51.0,16.0,46.0,15.0,23.0
8,2012-01-09,11575,314.0,32.0,61.0,18.0,193.0,188.0,140.0,8.0,100.0,52.0,55.0,200.0,256.0,168.0,191.0,37.0,3651.0,232.0,64.0,39.0,151.0,63.0,59.0,123.0,99.0,86.0,15.0,67.0,28.0,16.0
9,2012-01-10,11408,201.0,18.0,48.0,17.0,619.0,201.0,420.0,3.0,33.0,51.0,160.0,53.0,78.0,32.0,107.0,47.0,1992.0,827.0,106.0,33.0,60.0,104.0,68.0,80.0,52.0,126.0,16.0,222.0,20.0,38.0

We will evaluate your models that you build in a competition.

Each team can submit three models into the competition. The models are then evaluated based upon the HY2 of 2019 and the data for 2020. We have two evaluation datasets. They will be called 'bg_job_counts_test1.csv' and 'bg_job_counts_test2.csv'.

Your goal is to have the best mean absolute error on each of the two test datasets. It can be different models which achieve the goal. Note that in 2020, we have a huge structural break, which is the COVID-19 pandemic.

Each team will present their models next week within the last 45 minutes of the class. Each team gets around 8 minutes. I'll share with the team the link to the dataset just before their presentation, so that they cannot modify the models to get an advantage. Please have to code and models ready for deployment on the evaluation dataset, which has the same structure as the training data.

# Good Luck!